* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e5e5e5;
}

header {
  text-align: center;
}

main {

  .card {
    margin: 1rem auto;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    height: 60%;
    width: 35%;
    border-radius: 10px;

  }

  .bg {
    width: 600px;
    height: 400px;
    background-color: #cccccc;
    display: flex;


    h1 {
      position: absolute;

      top: 25%;
      left: 46.5%;

    }
  }
}